{{> head }}

{{> nav}}

<div class="row">
    
    <div class="col-8">
         <h1>FIBCER Soluciones</h1>
    </div>
  
    <div class="col-4">
        <img src="assets/img/laptop1.png" class="img-tumbnail">
    </div>

</div>




{{> footer}}